html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #fefefe;
    letter-spacing: .01em;
    max-width: 100%;
    height: 100%;
}

section#topBar {
    border-bottom: 1px solid slateblue;
}

div#pageTitle {
    font-size: 24px;
    text-align: center;
    bottom: 0px;
    display: inline-block;
    position: absolute;
    top: 18px;
    left: 0px;
    color: slateblue;
    width: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 1;
}

a#homeLink {
    text-decoration: none;
    color: slateblue;
    height: 48px;
    width: 48px;
    vertical-align: middle;
    border-radius: 24px;
    display: inline-block;
    margin: 0px;
    position: relative;
    z-index: 2;
}

#homeLink:hover {
    background-color: rgba(106, 90, 205, 0.1);
}

#homeLink i {
    font-size: 24px;
    margin: 12px 0px 12px 16px;
}

#homeLink:active {
    background-color: rgba(106, 90, 205, 0.3);
}

section {
    display: block;
    position: relative;
}


div#landing {
    height: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

div#landing div {
    background: url(../images/mountains.webp);
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: 50% -180px;
    background-repeat: no-repeat;
    background-size: 2304px 539px;
    position: absolute;
    z-index: 0;
    opacity: 0.6;
    filter: hue-rotate(36deg);
}

div#landing * {
    z-index: 1;
}

div#landing h1 {
    font-size: 70px;
    text-align: center;
    margin: 0px;
    margin-top: auto;
    color: black;
}

div#landing h2 {
    color: black;
    font-size: 26px;
    text-align: center;
}

div#landing p {
    color: black;
    font-size: 18px;
    text-align: center;
}

.slateblue {
    color: slateblue;
}

.fLarge {
    font-size: 90px;
}

.white {
    color: white;
}

.f24 {
    font-size: 24px !important;
}

.f36 {
    font-size: 36px !important;
}

.f48 {
    font-size: 48px !important;
}

.circleButton {
    height: 48px;
    width: 48px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    margin: auto auto 5px auto;
    border-radius: 24px;
}

.circleButton:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.circleButton:active {
    background-color: rgba(255, 255, 255, 0.6);
}

#homeLink span {
    font-size: 20px;
    margin-right: 8px;
    position: relative;
    bottom: 4px;
}

#mainContent {
    padding: 10px 20px 50px 20px;
    margin: auto;
    width: 100%;
    min-height: 100%;
    max-width: 920px;
    position: initial;
}

* {
    box-sizing: border-box;
}

#searchInput {
    background-image: url("../images/search.webp");
    background-size: 24px 24px;
    background-position: 8px 8px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    border-radius: 3px;
}

#projectList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#projectList li {
    position: relative;
}

#projectList li a {
    padding: 30px;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
}

#projectList li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: black;
    opacity: 0;
}

#projectList li a:hover::after {
    opacity: 0.1;
}

#projectList li a:active::after {
    opacity: 0.3;
}

#projectList li a div.flex-column {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}

img.thumbnail {
    float: left;
    display: block;
    width: 64px;
    height: 64px;
    margin: 6px 26px 6px 6px;
    flex: 0 0 auto;
}

span.listItemTitle {
    font-size: 22px;
    margin: 4px 0px;
}

div.tag {
    margin: 5px 2px 5px 0px;
    padding: 7px;
    border-radius: 4px;
    background-color: #eeeeee;
    color: grey;
    font-size: 14px;
    display: inline-block;
}

#mainContent section {
    padding: 8px 0px;
}

#mainContent div.center {    
    text-align: center;
}

a.download {
    background-color: slateblue;
    border-radius: 6px;
    border: 1px solid slateblue;
    color: white;
    padding: 18px;
    font-size: 24px;
    margin: 6px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

a.download:hover {
    background-color: #988ddd;
}

a.download:active {
    background-color: white;
    color: slateblue;
}

a.archive {
    background-color: gray;
    border-radius: 3px;
    border: 1px solid gray;
    color: white;
    padding: 8px 18px;
    font-size: 16px;
    margin: 6px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

a.archive:hover {
    background-color: #adadad;
}

a.archive:active {
    background-color: white;
    color: grey;
}

h1 {
    font-size: 30px;
    margin: 16px 0px;
    font-weight: 400;
}

h2 {
    font-size: 18px;
    margin: 10px 0px;
    font-weight: 400;
    color: slateblue;
}

section#footer {
    color: slateblue;
}

p {
    letter-spacing: .030em;
    margin: 10px 0px 15px 0px;
    color: #5f6368;
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-word;
}

img.aboutImage {
    float: right;
    width: 448px;
    height: auto;
    margin: 14px 0px 14px 14px;
    max-width: 100%;
}

img.crisp {
    image-rendering: pixelated;
}