* {
	box-sizing: border-box;
}

html {
	font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 16px;
}

body {
	max-width: 920px;
	margin: auto;
	padding: 1rem;
}

p {
	letter-spacing: 0.016rem;
	margin: 4px 0px 12px 0px;
	line-height: 1.5;
	text-align: justify;
	text-justify: inter-word;
}
