html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #fefefe;
    letter-spacing: .01em;
    max-width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    box-sizing: content-box;
    font-feature-settings: "liga" 1;
}

div#pageTitle {
    font-size: 34px;
    text-align: center;
    bottom: 0px;
    display: inline-block;
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    left: 0px;
    color: slateblue;
    width: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 1;
}

a#homeLink {
    text-decoration: none;
    color: slateblue;
    height: 52px;
    width: 52px;
    vertical-align: middle;
    border-radius: 26px;
    display: inline-block;
    margin: 0px;
    position: relative;
    z-index: 2;
}

#homeLink:hover {
    background-color: rgba(106, 90, 205, 0.1);
}
#homeLink i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-30%) translateY(-50%);
}
#homeLink:active {
    background-color: rgba(106, 90, 205, 0.3);
}

section {
    display: block;
    position: relative;
}


div#landing {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: slateblue;
}

div#landing * {
    z-index: 1;
    color: white;
}

div#landing h1 {
    font-size: 70px;
    text-align: center;
    margin: 0px auto 20px auto;
}

div#landing h2 {
    font-size: 26px;
    text-align: center;
    margin: 10px 0px 20px 0px;
}

div#landing p {
    font-size: 18px;
    text-align: center;
    margin: 20px;
}

.slateblue {
    color: slateblue;
}

#homeLink span {
    font-size: 20px;
    margin-right: 8px;
    position: relative;
    bottom: 4px;
}

#mainContent {
    padding: 10px 10px 50px 10px;
    margin: auto;
    width: 100%;
    min-height: 100%;
    max-width: 920px;
    position: initial;
}

* {
    box-sizing: border-box;
}

#projectList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

#projectList li {
    position: relative;
}

#projectList li a {
    padding: 10px 4px;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
}

#projectList li a::after, a.fileItem::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: black;
    opacity: 0;
}

#projectList li a:hover::after, a.fileItem:hover::after {
    opacity: 0.1;
}

#projectList li a:active::after, a.fileItem:active::after {
    opacity: 0.3;
}

#projectList li a div.flex-column {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    max-width: calc(100% - 76px);
}

img.thumbnail {
    float: left;
    display: block;
    margin: 12px 8px 12px 8px;
}

span.listItemTitle {
    font-size: 18px;
    margin: 10px 0px 0px 0px;
}

div.tagList {
    display: flex;
    flex-wrap: wrap;
}

div.tag {
    margin: 2px 3px 2px 0px;
    padding: 3px;
    border-radius: 4px;
    background-color: rgb(233, 233, 233);
    color: rgb(99, 99, 99);
    font-size: 14px;
    display: inline-block;
    white-space: nowrap;
}

#mainContent section {
    padding: 10px 0px 2px 0px;
}

#mainContent div.center {    
    text-align: center;
}

section#topBar {
    border-bottom: 1px solid slateblue;
    padding-bottom: 4px;
}


a.button {
    border-radius: 6px;
    border: 1px solid slateblue;
    background-color: slateblue;
    color: white;
    padding: 12px 18px 12px 52px;
    font-size: 24px;
    margin: 6px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}
a.button:hover {
    color: white;
    background-color: #988ddd;
}
a.button:active {
    background-color: white;
    color: slateblue;
}
a.button::before {
    letter-spacing: 0;
    font-family: "Material Icons";
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

a.button.small {
    border-radius: 3px;
    padding: 8px 14px 8px 42px;
    font-size: 16px;
}
a.button.small::before {
    font-size: 24px;
}

/* LINK BUTTON */
a.link::before {
    content: "link";
}

/* DOWNLOAD BUTTON */
a.download::before {
    content: "get_app";
}

/* ARCHIVE BUTTON */
a.archive {
    background-color: gray;
    border-color: gray;
}
a.archive:hover {
    background-color: #adadad;
    color: white;
}
a.archive:active {
    background-color: white;
    color: grey;
}
a.archive::before {
    content: "folder";
}

/* ABOUT BUTTON */
a.about {
    border-color: white;
    display: initial;
}
a.about:hover {
    background-color: #988ddd;
}
a.about:active {
    background-color: white;
    color: slateblue !important;
}
a.about::before {
    content: "person";
}

/* SCROLL DOWN BUTTON*/
a.scrollDown {
    height: 90px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    text-align: center;
    font-size: 16px;
    bottom: 0px;
    padding: 12px 0px;
    border-radius: 10px;
    border: none;
    left: 50%;
    margin-left: -75px;
}
a.scrollDown:active {
    background-color: white;
    color: slateblue !important;
}
a.scrollDown::before {
    content: "keyboard_arrow_down";
    font-size: 60px;
    top: 30px;
    left: 44px;
    transform: translateY(-50%);
    transform: none;
}
a.scrollDown:active::before {
    color: slateblue !important;
}

h1 {
    font-size: 30px;
    margin: 14px 0px 10px 0px;
    font-weight: 400;
}

h2 {
    font-size: 18px;
    margin: 10px 0px 8px 0px;
    font-weight: 400;
    color: slateblue;
}

h3 {
    font-size: 24px;
    margin: 16px 0px;
    font-weight: 400;
}

section#footer {
    color: slateblue;
}

p {
    letter-spacing: .030em;
    margin: 8px 0px 12px 0px;
    color: rgb(66, 66, 66);
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-word;
}

img.aboutImage {
    float: right;
    margin: 14px 0px 14px 14px;
    max-width: 100%;
}

a.image {
    position: relative;
    float: right;
    z-index: 1;
    border: 1px solid transparent;
    cursor: zoom-in;
    max-width: 100%;
    margin: 14px 0px 14px 14px;
}
a.image:hover {
    border: 1px solid black;
}
a.image img {
    max-width: 100%;
}
a.image span {
    font-size: 12px;
    float: right;
}

div#imageViewer {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    cursor: zoom-out;
    z-index: 10;
    opacity: 0;
}

div#imageViewer img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#dlArchive ul{
    list-style: none;
    padding: 0px;
    margin-top: 30px;
    display: block;
    min-width: 300px;
    max-width: 580px;
}

#dlArchive #title::before{
    letter-spacing: 0;
    font-family: "Material Icons";
    font-size: 36px;
    content: "folder_open";
    position: relative;
    padding-right: 10px;
    top: 8px;
}


#dlArchive ul li {
    border-bottom: solid lightgrey 1px;
}

#dlArchive ul li a {
    display: block;
    padding: 6px 16px 6px 36px;
    position: relative;
    text-decoration: none;
    color: black;
}

#dlArchive ul li a div {
    display: inline-block;
    white-space: nowrap;
}

#dlArchive ul li a div::before {
    letter-spacing: 0;
    font-family: "Material Icons";
    content: "get_app";
    color: lightgrey;
    font-size: 24px;
    position: absolute;
    top: 4px;
    left: 6px;
}

#dlArchive ul li a:hover div::before {
    color: grey;
}

#dlArchive ul li a span {
    color: #818181;
    position: absolute;
    right: 16px;
    top: 6px;
}

#dlArchive ul li a span:nth-child(3) {
    display: none;
    right: 126px;
}

@media only screen and (min-width: 420px) {
    #dlArchive ul li a span:nth-child(3) {
        display: inline-block;
    }
}

@media only screen and (min-width: 600px) {
    #projectList li a {
        padding: 30px;
    }
    span.listItemTitle {
        font-size: 22px;
        margin: 4px 0px;
    }

    div.tagList {
        flex-wrap: nowrap;
        max-height: 43px;
    }
    div.tag {
        margin: 5px 6px 5px 0px;
        padding: 7px;
        border-radius: 4px;
        font-size: 16px;
    }

    img.thumbnail {
        margin: 6px 26px 6px 6px;
    }

    #projectList li a div.flex-column {
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        max-width: calc(100% - 96px);
    }
}

a {
    color: rgb(26, 26, 26);
}

a:hover, a:active {
    color: rgb(121, 121, 121);
}

p.email::before {
    letter-spacing: 0;
    font-family: "Material Icons";
    content: "mail_outline";
    color: rgb(66, 66, 66);
    font-size: 24px;
    position: relative;
    padding-right: 6px;
    top: 6px;
}

.floatClear:before, h1:before {
    content: "";
    width: 260px;
    display: block;
    overflow: hidden;
    clear: left;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted rgb(66, 66, 66);
    line-height: 1.2;
}

.tooltip .tooltiptext {
    visibility: hidden;
    white-space: nowrap;
    background-color: lightgrey;
    color: black;
    text-align: center;
    padding: 4px 4px;
    border-radius: 3px;
    border: 1px solid grey;

    position: absolute;
    display: block;
    z-index: 1;

    top: 24px;
    left: 0px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.fLarge {
    font-size: 90px;
}

.white, .white:hover, .white:active, .white::before {
    color: white !important;
}

.f24 {
    font-size: 24px !important;
}

.f36 {
    font-size: 36px !important;
}

.f48 {
    font-size: 48px !important;
}

.f60 {
    font-size: 60px !important;
}

.m30 {
    margin: 30px !important;
}

